<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> <!-- bootstrap styles sheet -->
 <link rel="stylesheet" type="text/css" href="../static/main.css">

</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="{{url_for('home')}}"><h3>Food Mood</h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('meals')}}">Meals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('ingredients')}}">Ingredients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('countries')}}">Countries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('aboutUs')}}">About</a>
      </li>
    </ul>
  </div>

  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search for a Recipe" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<br>
<br>

<div class="content content2">
		<div class="container-fluid "><p class="h4 text-center">Thank you so much for visiting our website!</div>
<div class="content justify-content-center">
 		  <p class="h4 text-center text-body">
 		  There is something for everyone here and we hope you found what you were looking for! Below you will find a mini profile on each one of us. Take a look at them to learn a little bit about everyone who contributed to this project.	
 		  </p>
</div>
</div>
<br><br>
<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
    <div class="card h-100">
      <img src="../static/photos/david.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
      <div class="justify-content-center">
		<p class="h4 text-center">David Alvarez</p>
      		<p class="h5 text-center">Senior Computational Liguistics Major at UT Austin</p>
      		<p class="h5 text-center">Front-end</p>
      		<p class="h5 text-center">Commits: </p>
      		<p class="h5 text-center">Issues: </p>
      		<p class="h6 text-center text-body">
David loves teaching himself new technologies and as a consequence has amassed a wide variety of projects such as building websites, making Apps , Machine Learning and many more.
     		</p> 	
      </div>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="../static/photos/dorian.jpg" class="card-img-top" alt="...">
      <div class="card-body">
      <div class="justify-content-center">
		<p class="h4 text-center">Dorian Bizgan</p>
      		<p class="h5 text-center">Senior Math major at UT Austin</p>
      		<p class="h5 text-center">Back-end/Team Lead</p>
      		<p class="h5 text-center">Commits: 7 </p>
      		<p class="h5 text-center">Issues: 1 </p>
      		<p class="h6 text-center text-body">
      			Dorian's favorite hobbies include hiking, sleeping and watching The Office.
     		</p> 	
      </div>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="../static/photos/Paras.jpg" class="card-img-top" alt="...">
      <div class="card-body">
     <div class="justify-content-center">
		<p class="h4 text-center">Paras Gaba</p>
      		<p class="h5 text-center">Senior CS major at UT Austin</p>
      		<p class="h5 text-center">Back-end</p>
      		<p class="h5 text-center">Commits: 9</p>
      		<p class="h5 text-center">Issues: 10</p>
      		<p class="h6 text-center text-body">
      			Paras loves to go to the gym and take his dog for a walk in his free time.
     		</p> 	
      </div>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="../static/photos/harsh.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
    <div class="justify-content-center">
		<p class="h4 text-center">Harsh Mehta</p>
      		<p class="h5 text-center">Senior Finance at at UT Austin</p>
      		<p class="h5 text-center">Front-end</p>
      		<p class="h5 text-center">Commits: 10  </p>
      		<p class="h5 text-center">Issues: 5 </p>
      		<p class="h6 text-center text-body">
      			Harsh is an international student from India. He loves playing all kinds of sports especially Taekwondo and Basketball. He is very interested in the quantitative finance and his career goal is to work in a hedge fund.
     		</p> 	
      </div>
      </div>
    </div>
  </div>
<div class="col mb-4">
    <div class="card h-100">
      <img src="../static/photos/Rustin.jpg" class="card-img-top" alt="...">
      <div class="card-body">
         <div class="justify-content-center">
		<p class="h4 text-center">Rustin Rassoli</p>
      		<p class="h5 text-center">Junior Math major at UT Austin</p>
      		<p class="h5 text-center">Technical Report</p>
      		<p class="h5 text-center">Commits: 0</p>
      		<p class="h5 text-center">Issues: 0</p>
      		<p class="h6 text-center text-body">
      			Rustin is majoring in Math and minoring in Computer Science at UT Austin. 
     		</p> 	
      </div>
      </div>
    </div>
  </div>
<div class="col mb-4">
    <div class="card h-100">
      <img src="../static/photos/gitlab.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
         <div class="justify-content-center">
		<p class="h4 text-center">Stats</p>
      		<p class="h5 text-center">Total Commits: 43</p>
      		<p class="h5 text-center">Total Issues: 15</p>
      		<p class="h5 text-center"><a href= "https://gitlab.com/TechPointYT/ouramerica/issues">Link to Gitlab Issue Tracker</a></p>
      		<p class="h5 text-center"> <a href="https://gitlab.com/TechPointYT/ouramerica/-/tree/master">Link to Gitlab Repo</p></a>
		<a href = "https://gitlab.com/TechPointYT/ouramerica/-/wikis/Technical-Report-for-Phase-1?fbclid=IwAR1qZ5NPf9MorTSOWfszJp5UaoCh0m6_yOWtVbNX-LEwyzyZ86e7zTXP7qw"><p class="h5 text-center">Link to Gitlab Wiki</a></p>
		<p class="h5 text-center"><a href="https://www.themealdb.com/api.php">Data Source: MealDb</a></p>
		<p class="h5 text-center">Tools Used: html, flask, bootstrap, javascript, gitlab, python</p>
      </div>
      </div>
    </div>
  </div>

</div>
</html>
