<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> <!-- bootstrap styles sheet -->
 <link rel="stylesheet" type="text/css" href="../static/main.css">

</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="{{url_for('home')}}">Recipe Gini</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('meals')}}">Meals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('ingredients')}}">Ingredients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('countries')}}">Countries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('aboutUs')}}">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>

  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search for a Recipe" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<br>
<br>

<div class="content content2">
		<div class="container-fluid "><p class="h3 text-center">Welcome to your source of ingredient information</p> </div>
		
		<p class="text-body h5 text-center">We created this website to help people get the population information collected by the census. On the population tab you will find the information categorized by state and easily accessible at the click of the button. With that mind click, please click on the population tab to continue<br><br></p>
</div>

<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card h-100">
      <img src="../static/photos/back1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
      <div class="justify-content-center">
      		<p class="h5 text-center">Major: major</p>
      		<p class="h5 text-center">Class: [fresh,soph, jun, sen]</p>
      		<p class="h5 text-center">Year: [1st , 2nd, 3rd, 4th]</p>
      		<p class="h5 text-center">What was your job in the project?:</p>
      		<p class="h6 text-center text-body">
      			description here
     		</p> 	
      </div>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="../static/photos/back2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
      <div class="justify-content-center">
      		<p class="h5 text-center">Major: major</p>
      		<p class="h5 text-center">Class: [fresh,soph, jun, sen]</p>
      		<p class="h5 text-center">Year: [1st , 2nd, 3rd, 4th]</p>
      		<p class="h5 text-center">What was your job in the project?:</p>
      		<p class="h6 text-center text-body">
      			description here
     		</p> 	
      </div>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="../static/photos/back3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
      <div class="justify-content-center">
      		<p class="h5 text-center">Major: major</p>
      		<p class="h5 text-center">Class: [fresh,soph, jun, sen]</p>
      		<p class="h5 text-center">Year: [1st , 2nd, 3rd, 4th]</p>
      		<p class="h5 text-center">What was your job in the project?:</p>
      		<p class="h6 text-center text-body">
      			description here
     		</p> 	
      </div>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="../static/photos/back4.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
      <div class="justify-content-center">
      		<p class="h5 text-center">Major: major</p>
      		<p class="h5 text-center">Class: [fresh,soph, jun, sen]</p>
      		<p class="h5 text-center">Year: [1st , 2nd, 3rd, 4th]</p>
      		<p class="h5 text-center">What was your job in the project?:</p>
      		<p class="h6 text-center text-body">
      			description here
     		</p> 	
      </div>
      </div>
    </div>
  </div>
</div>
