<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> <!-- bootstrap styles sheet -->
 <link rel="stylesheet" type="text/css" href="../static/main.css">


</head>
<style>
body {
  background-image: url('../static/photos/back7.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="{{url_for('home')}}">Recipe Gini</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav justify-content-center">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('meals')}}">Meals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('ingredients')}}">Ingredients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('countries')}}">Countries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('aboutUs')}}">About</a>
      </li>
    </ul>
  </div>

  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search for a Recipe" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<br><br>


<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
    <div class="card h-100">
      <a href = "/view/52768">

      <img src="https://www.themealdb.com/images/media/meals/wxywrq1468235067.jpg" class="card-img-top" alt="...">
    </a>
      <div class="card-body">
        <h5 class="card-title">Apple Frangipan Tart</h5>
      </div>
    </div>
  </div>
