body{
	background-color: rgb(220,220,220);
	font-family: 'Helvetica', cursive;
}
.navText{
	text-align: center;
}

.carousel {

height:600px;

}

.carousel-inner{

height:600px;

object-fit: contain;

}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.content-header{
	text-align: center;
	margin: 0px auto;
	
}
li{
	font-size: 20px;
}
table {
  width: 50%;
}


th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  color: white;

}
