html,body{
	background-color: rgb(220,220,220);
	font-family: 'Helvetica', cursive;
	
}
li{
	font-size: 25px;
}
li > a{
	color: white;
}
.navbar-collapse{
	background-color: rgb(220,220,220);
}
.content{
	margin: 0px auto;
	background-color: rgb(235, 235, 235);
	max-width: 70%;
	height: auto;
}
.con-food-item{
	width: 50%;
	margin-left: 2%;
}