<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	 <link rel="stylesheet" type="text/css" href="../static/aboutUs.css">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta charset="utf-8">
</head>
<body>
<div  class="">
	<nav id="navbar-example2" class=" make-sticky navbar navbar-light bg-dark ">
  		<a class="navbar-brand" href="#"> <img  style="display: inline;"width=auto height="100" src="../static/photos/image.png"></a>
  		<button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon bg-light"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
  	<ul class="navbar-nav mr-auto">
  	 <li class="nav-item dropdown">
       <a class="nav-link text-center" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Us</a>
       </li>	
      <li class="nav-item">
       <a class="nav-link text-center" href="#fat">Population</a>
     </li>
    
    </ul>
   </div> 
  </nav>
 </div>
 	<div class="content justify-content-center">
 		<div>
 		  <p class="h4 text-center text-body">
 		  Below you will find a mini profile on each one of us. Scroll through each of them to learn a little bit about everyone who contributed to this project.	
 		  </p>
 	   </div>
 	<div id="profiles" class="carousel slide" data-ride="carousel">
 
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 caroPic" src="../static/photos/back2.jpg" alt="First slide">
      <p class="h3 text-center text-body">Name1</p>
      <div class="justify-content-center">
      		<p class="h5 text-center">Major: major</p>
      		<p class="h5 text-center">Class: [fresh,soph, jun, sen]</p>
      		<p class="h5 text-center">Year: [1st , 2nd, 3rd, 4th]</p>
      		<p class="h5 text-center">What was your job in the project?:</p>
      		<p class="h6 text-center text-body">
      			description here
     		</p> 	
      </div>
      
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 caroPic" src="../static/photos/back2.jpg" alt="Second slide">
      <p class="h3 text-center">name2</p>
      <div class="justify-content-center">
      		<p class="h5 text-center">Major: major</p>
      		<p class="h5 text-center">Class: [fresh,soph, jun, sen]</p>
      		<p class="h5 text-center">Year: [1st , 2nd, 3rd, 4th]</p>
      		<p class="h5 text-center">What was your job in the project?:</p>
      		<p class="h6 text-center text-body">
      			description here
     		</p> 	
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 caroPic" src="../static/photos/back2.jpg" alt="Third slide">
      <p class="h3 text-center">Name3</p>
      <div class="justify-content-center">
      		<p class="h5 text-center">Major: major</p>
      		<p class="h5 text-center">Class: [fresh,soph, jun, sen]</p>
      		<p class="h5 text-center">Year: [1st , 2nd, 3rd, 4th]</p>
      		<p class="h5 text-center">What was your job in the project?:</p>
      		<p class="h6 text-center text-body">
      			description here
     		</p> 	
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 caroPic" src="../static/photos/back2.jpg" alt="Third slide">
      <p class="h3 text-center">Name4</p>
      <div class="justify-content-center">
      		<p class="h5 text-center">Major: major</p>
      		<p class="h5 text-center">Class: [fresh,soph, jun, sen]</p>
      		<p class="h5 text-center">Year: [1st , 2nd, 3rd, 4th]</p>
      		<p class="h5 text-center">What was your job in the project?:</p>
      		<p class="h6 text-center text-body">
      			description here
     		</p> 	
      </div>
    </div>
    	<div class="carousel-item">
      <img class="d-block w-100 caroPic" src="../static/photos/back2.jpg" alt="Third slide">
      <p class="h3 text-center">Name3</p>
      <div class="justify-content-center">
      		<p class="h5 text-center">Major: major</p>
      		<p class="h5 text-center">Class: [fresh,soph, jun, sen]</p>
      		<p class="h5 text-center">Year: [1st , 2nd, 3rd, 4th]</p>
      		<p class="h5 text-center">What was your job in the project?:</p>
      		<p class="h6 text-center text-body">
      			description here
     		</p> 	
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="profiles" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#profiles" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
 				
 	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

</body>
</html>