<!DOCTYPE html>
<html>
<head>
	<title></title>
	 <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	 <link rel="stylesheet" type="text/css" href="../static/main.css">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta charset="utf-8">
 
</head>

<body class="">
	

	
	<div  class="">
	<nav id="navbar-example2" class=" make-sticky navbar navbar-light bg-dark ">
  		<a class="navbar-brand" href="#"> <img  style="display: inline;"width=auto height="100" src="../static/photos/image.png"></a>
  		<button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon bg-light"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
  	<ul class="navbar-nav mr-auto">
  	 <li class="nav-item dropdown">
       <a class="nav-link text-center" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Us</a>
       
    </li>	
    <li class="nav-item">
      <a class="nav-link text-center" href="#fat">Population</a>
    </li>
    
  </ul>
  </div> 
</nav>
	</div>
	

	<div class="container-fluid">
		<div>
		<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  			<div class="carousel-inner">
    	<div class="carousel-item active">
      		<img class=" caroPic caroPic2 d-block w-100" src="../static/photos/back1.jpg" alt="First slide">
    	</div>
    	<div class="carousel-item">
      		<img class="caroPic caroPic2 d-block w-100" src="../static/photos/back2.jpg" alt="Second slide">
    	</div>
    	<div class="carousel-item">
      		<img class="caroPic caroPic2 d-block w-100" src="../static/photos/back3.jpg" alt="Third slide">
    	</div>
  		</div>
	</div>
	<div class="content content2">
		<div class="container-fluid "><p class="h2 text-center">Welcome to your source of census information</p> </div>
		
		<p class="text-body h5 text-center"> We created this website to help people get the population information collected by the census. On the population tab you will find the information categorized by state and easily accessible at the click of the button. With that mind click, please click on the population tab to continue</p>
	</div>
		
	</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	
</body>
</html>