<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> <!-- bootstrap styles sheet -->
 <link rel="stylesheet" type="text/css" href="../static/main.css">

</head>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="{{url_for('home')}}"><h3>Food Mood</h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('meals')}}">Meals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('categories')}}">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('countries')}}">Countries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('aboutUs')}}">About</a>
      </li>
    </ul>
  </div>

  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search for a Recipe" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<br>
<br>   
    
    
<div class="card mx-auto" style="max-width: 80%;">
  <img src={{image[0].image}} class="card-img-top" alt="...">
  <div class="card-body mx-auto">
    <h1 class="card-title">{{name[0].meal_name}}</h1>
    <!-- <p id="origin_cat" class="card-text">{{name[0].meal_name}} {{name[0].meal_name}}</p> -->
  </div>
  <div   class="ml-6 mr-6 mt-6 ml-xs-0 mr-xs-0 ml-sm-0 mr-sm-0" style="margin-left:10%; margin-right:10%; margin-bottom: 5%"> 
  <table class="table table-borderless" style=" background-color: antiquewhite; padding-bottom:5%">
      <thead>
      <tr>
        <th scope="col" class="font-weight-bolder" style="padding-left: 20%; padding-top:3%">Ingredients</th>

      </tr>
     </thead>
     <tbody>

      {% for i in range(ingredients|length) %}
      	<tr> 
      		<td style="padding-left: 20%;">{{measure[i]}} {{ingredients[i]}} </td> 
      	</tr>
    	{% endfor %}

         <p style="padding-bottom: :5%">&nbsp;</p>
         
      </tbody>
    </table>
    </div>
  <div id="instructions" class="card-body" style="margin-left: 5%; margin-right: 5%; margin-bottom: 5%">
    <p class="card-text font-weight-bolder">Instructions</p>
    <p class="card-text">
	{% for i in ins %}
		{{i}}{{'.'}}<br><br>
	{% endfor %}
    </p>
  </div>
</div>   
</html>

