<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> <!-- bootstrap styles sheet -->
 <link rel="stylesheet" type="text/css" href="../static/main.css">

</head>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="{{url_for('home')}}"><h3>Food Mood</h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('meals')}}">Meals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('ingredients')}}">Ingredients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('countries')}}">Countries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('aboutUs')}}">About</a>
      </li>
      <!-- dropdown not useful for phase 1
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      -->
    </ul>
  </div>

  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search for a Recipe" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<br>
<br>
<!--
So we'll need 
strMeal (meal name)
strCategory (meal category)
strInstructions (meal instructions) - maybe not

OLD HTML
<div class="media">
  <img class="align-self-center mr-3" src={{meal.strMealThumb}} alt="Generic placeholder image">
  <div class="media-body">
    <h1 class="mt-0">{{meal.strMeal}}</h1>
    <p>Meal Category: {{meal.strCategory}}</p>
    <p>Meal Origin : {{meal.strArea}}
    <table class="table">
    <thead>
      <tr>
        <th scope="col" id="show_meal">Ingredients</th>
        <th scope="col" id="show_meal">Amounts</th>
      </tr>
     </thead>
     <tbody>
      {% for i in ingredients %}
      	<tr> 
      		<td id="show_meal"> {{i.ingredient}} </td>
      		<td id="show_meal"> {{i.amount}}
      	</tr>
    	{% endfor %}
      </tbody>
    </table>

</div>
</div>
<br>
<div class="media">
  <div class="media-body">
    <h5 class="mt-0 mb-1">How to make {{meal.strMeal}}</h5>
     <p>{{meal.strInstructions}} </p>
  </div>
</div>
 -->   
    
    
    

    
    
    
    
<div class="card mx-auto" style="max-width: 80%;">
  <img src="{{meal.strMealThumb}}" class="card-img-top" alt="...">
  <div class="card-body mx-auto">
    <h1 class="card-title">{{meal.strMeal}}</h1>
    <p id="origin_cat" class="card-text">{{meal.strArea}} {{meal.strCategory}}</p>
  </div>
  <div   class="ml-6 mr-6 mt-6 ml-xs-0 mr-xs-0 ml-sm-0 mr-sm-0" style="margin-left:10%; margin-right:10%; margin-bottom: 5%"> 
  <table class="table table-borderless" style=" background-color: antiquewhite; padding-bottom:5%">
      <thead>
      <tr>
        <th scope="col" class="font-weight-bolder" style="padding-left: 20%; padding-top:3%">Ingredients</th>

      </tr>
     </thead>
     <tbody>
      {% for i in ingredients %}
      	<tr> 
      		<td style="padding-left: 20%;">{{i.amount}} {{i.ingredient}} </td> 
      	</tr>
    	{% endfor %}
         <p style="padding-bottom: :5%">&nbsp;</p>
         
      </tbody>
    </table>
    </div>
  <div id="instructions" class="card-body" style="margin-left: 5%; margin-right: 5%; margin-bottom: 5%">
    <p class="card-text font-weight-bolder">Instructions</p>
    <p class="card-text">{{meal.strInstructions|safe}}</p>
  </div>
</div>    
    
</html>

